<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libra Ry Admin</title>
</head>
<body>
<a href = "/">Back To Main</a>
<form action="addBook" method="post">
    <input type="text" placeholder="Enter title." name="title"/><br>
    <input type="text" placeholder="Enter author." name="author"/><br>
    <input type="text" placeholder="Enter genre." name="genre"/><br>
    <button type="submit">Add Book</button>
</form>
<br>
<form action="deleteBook" method="post">
    <input type="text" placeholder="Enter title to remove." name="title"/>
    <button type="submit">Delete Book</button>
</form>
This will delete ALL copies of the book.
</body>
</html>